.Menu {
    width: 200px;
    height: 600px;
    float: left;
    position: relative;
    padding: 0;
    background-color: #111111;
    z-index: 3;
    box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,1);
}