.Menu {
    height: 100%;
    width: 100%;
    display: grid;
    padding: 0;    
    grid-template-rows: auto auto auto auto auto;
    background-color: rgba(25,25,25,0.75);
    transform: translateX(-100%);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    z-index: 2;
    will-change: transform;
    text-align: center;
    box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,1);
}

.MenuOut {
    transform: translateX(0%);
}

.MenuSlideOut {
    -webkit-animation: left-to-right .75s ease-in-out forwards;
    animation: left-to-right .75s ease-in-out forwards;
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}

@keyframes left-to-right{
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes left-to-right{
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.NoSelect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.CurrentScore {
    margin-top: 48px;
    margin-bottom: 16px;
    font-size: 5rem;
}

.Heading {
    margin-top: 48px;
    margin-bottom: 0;
    font-size: 4rem;
}

.Highscore {
    display: inline;
}

.NewHighscore {
    color:  rgba(147, 255, 25, 1);
    text-shadow: 0 0 5px  rgba(147, 255, 25, 1);
    font-weight: bold;
}

.WhiteText {
    color: white;
    text-shadow: 0 0 5px white;
}

.Menu .Button {
    width: 48px;
    height: 48px;   
    color: rgba(255, 255, 255, .7);
    -webkit-filter: drop-shadow( 0px 0px 5px rgba(255, 255, 255, .7));
    filter: drop-shadow( 0px 0px 5px rgba(255, 255, 255, .7));
    -webkit-animation: pulse .85s ease-in-out alternate infinite;
    animation: pulse .85s ease-in-out alternate infinite;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.Button:hover {
    color: rgba(255, 255, 255, 1);
    -webkit-filter: drop-shadow( 0px 0px 5px rgba(255, 255, 255, 1));
    filter: drop-shadow( 0px 0px 5px rgba(255, 255, 255, 1));
    -webkit-animation: step-end;
    animation: step-end;
}

.Button:active {
    color:  rgba(147, 255, 25, 1);
    transform: scale(0.85);
    -webkit-filter: drop-shadow( 0px 0px 5px rgba(147, 255, 25, 1));
    filter: drop-shadow( 0px 0px 5px rgba(147, 255, 25, 1));
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.DisabledButton {
    opacity: 0.6;
    pointer-events: none;
}

.Controls {
    width: 400px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.ControlsHeading {
    margin: 0;
}

.DifficultyHeading {
    margin: 0;
}

.SpeedSettings {
    width: 50%;
    float: left;
}

.WallsSettings {
    width: 50%;
    float: right;
}

.FoodContainer {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.FoodHolder {
    width: 50%;
    display: grid;
}

.Food {
    width: 40px;
    height: 40px;
    margin: auto;
}