.SlideContainer {
    width: 100%;
}

.Slider {
    -webkit-appearance: none;
    appearance: none;   
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 1px black;
}

.Slider:hover {
    opacity: 1;
    box-shadow: 0px 0px 15px 1px black;
}

/* for Chrome */
.Slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

.Slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

.SliderLabels {
    color: white;
    font-size: 12px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}