.Summary {
    height: 600px;
    width: 600px;
    background-color: rgba(25,25,25,0.85);
    padding: 0;    
    transform: translateX(-100%);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    z-index: 2;
    will-change: transform;
    text-align:center
}

.SummaryOut {
    transform: translateX(0%);
}

.SummarySlideOut {
    -webkit-animation: left-to-right .75s ease-in-out forwards;
    animation: left-to-right .75s ease-in-out forwards;
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}

@keyframes left-to-right{
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes left-to-right{
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.CurrentScore {
    margin-top: 15%;
    color: white;
    font-size: 3rem;
}

.Highscore {
    display: inline;
    color: white;
}

.NewHighscore {
    color: yellowgreen;
    font-weight: bold;
}

.Heading {
    color: white;
    font-size: 3rem;
}

.Instruction {
    color: white;
}